In [1]:
import numpy as np
import pandas as pd

In [14]:
data = np.fromfile("../raw_data/otdcr_931_0.dat", dtype=np.float32)
data

array([ 0.00e+00,  9.31e+02,  8.40e+01, ...,  1.00e+20,  0.00e+00,
       -1.00e+00], dtype=float32)

In [17]:
data[:15]

array([  0.     , 931.     ,  84.     ,   0.     ,   0.     ,  88.02422,
        79.05151,   0.     ,   0.     ,   0.     ,   0.     ,   0.     ,
         0.     ,   0.     ,   0.     ], dtype=float32)

In [3]:
data.size / 500

1762.0

In [4]:
data.size

881000

In [5]:
out = open("data.csv", 'a+')
#for j in range(672):
#    out.write(str(j))
#    if(j != 671):
#        out.write(',')
#out.write('\n')

for i in range(0, int(data.size), int(data.size / 500)):
    for j in range(672):
        out.write(str(data[i + 25 + j]))
        if(j != 671):
            out.write(',')
    out.write('\n')

out.close()

In [2]:
df = pd.read_csv("../data/dataset_01/data.csv", index_col=None)
df

,0,1,2,3,4,5,6,7,8,9,...,662,663,664,665,666,667,668,669,670,671
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,12.0,9.0,4.0,3.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,35.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,10.0,0.0,0.0,20.0,14.0,0.0,1.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.0,21.0,4.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,18.0,0.0,6.0,0.0,12.0,0.0,0.0,0.0
2496,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,13.0,10.0,15.0,0.0,0.0,0.0
2497,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,13.0,0.0,4.0,0.0,4.0,5.0,0.0,0.0,11.0,7.0
2498,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11.0,0.0,0.0,12.0,19.0,2.0,0.0,0.0,1.0,0.0
2499,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,58.0,0.0,0.0,7.0,0.0,0.0

In [7]:
out = open("answer.csv", 'a+')
inp = open("../raw_data/OTDCR_931.txt", "r")

#out.write('x1,')
#out.write('y1,')
#out.write('z1,')
#out.write('x2,')
#out.write('y2,')
#out.write('z2\n')

for i in range(500):
    data = inp.readline().split()
    for j in range(6):
        out.write(str(data[2+j]))
        if(j != 5):
            out.write(',')
    out.write('\n')

out.close()
inp.close()

In [8]:
df = pd.read_csv("answer.csv")
df

           x1      y1       z1       x2      y2       z2
0     1.62606  -0.801  4.74964  7.60840  26.812  2.75866
1     6.54501  -0.801  4.20302  2.13407  26.812  3.88737
2     3.46594  26.812  2.80550  5.76182  -0.801  2.63862
3     5.28630  -0.801  5.03381  7.38835  26.812  3.39033
4     2.71396  26.812  4.48287  2.39695  -0.801  2.70770
...       ...     ...      ...      ...     ...      ...
2495  7.75790  -0.801  4.62405  6.93627  26.812  2.88103
2496  5.54549  -0.801  4.11952  2.97840  26.812  3.58746
2497  5.59828  26.812  3.78629  2.16425  -0.801  3.33187
2498  6.80879  -0.801  5.00507  2.30580  26.812  2.72997
2499  5.87940  -0.801  4.52526  3.09200  26.812  2.80852

[2500 rows x 6 columns]